---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.4
  name: apps.platform.example.com
spec:
  group: platform.example.com
  names:
    kind: App
    listKind: AppList
    plural: apps
    singular: app
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: App is the Schema for the apps API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: AppSpec defines the desired state of App.
            properties:
              deploy:
                description: Foo is an example field of App. Edit app_types.go to
                  remove/update
                properties:
                  containerPort:
                    format: int32
                    type: integer
                  image:
                    type: string
                  replicas:
                    format: int32
                    type: integer
                required:
                - containerPort
                - image
                type: object
              ingress:
                properties:
                  host:
                    type: string
                  path:
                    type: string
                type: object
              service:
                properties:
                  port:
                    format: int32
                    type: integer
                required:
                - port
                type: object
            required:
            - deploy
            - ingress
            - service
            type: object
          status:
            description: AppStatus defines the observed state of App.
            properties:
              availableReplicas:
                format: int32
                type: integer
              observedGeneration:
                format: int64
                type: integer
              url:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
